.App {
  text-align: center;
  background-color: black;
  border: 1px solid white;
}

.main :hover
{
    color: crimson !important;
}

.mainactive :hover
{
    color: crimson !important;
}

.main{
  text-decoration: none;
  color:white;
  padding: 10px;
}

.mainactive
{
  text-decoration: none;
  color:crimson;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

